/* 设置网页 */
body {
	margin: 0;
	overflow: hidden;
}

/* 创建两个粽子图像容器 */
.zongzi-container {
	position: fixed;
	bottom: 0;
	width: 100px;
	height: 100px;
}

/* 设置左边粽子图像容器的位置和样式 */
.left-zongzi {
	left: 40px;
        -webkit-transform-origin: 50% -100px;
        -webkit-animation: swing 5s infinite ease-in-out;
}

/* 设置右边粽子图像容器的位置和样式 */
.right-zongzi {
	right: 40px;
        -webkit-transform-origin: 50% -100px;
        -webkit-animation: swing 5s infinite ease-in-out;
}

/* 创建粽子图像 */
.zongzi {
	width: 100%;
	height: 100%;
	background-image: url('zongzi.jpg');
	background-size: cover;
	position: absolute;
}

/* 创建摆动动画 */
@-moz-keyframes swing {
  0% {
	-moz-transform: rotate(-10deg);
  }
  50% {
	-moz-transform: rotate(10deg);
  }
  100% {
	-moz-transform: rotate(-10deg);
  }
}

@-webkit-keyframes swing {
  0% {
	-webkit-transform: rotate(-10deg);
  }
  50% {
	-webkit-transform: rotate(10deg);
  }
  100% {
	-webkit-transform: rotate(-10deg);
  }
}
